
.academic {
    height: auto;
    /* height: 90vh; */
    padding: 1vw;
    background: linear-gradient(to bottom, #fff 0%, #63fcfc 100%);
    background-size: cover;
    background-attachment: fixed;
}

.title {
    box-shadow: 0px 0px 1px rgba(63, 48, 48, 0);
    padding: 20px 10px 10px 10px;
    text-transform: capitalize;
    margin: 0px 0px 0px 20px;
    position: relative;
    width: max-content;
    display: block;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main-cart {
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    /* padding:10px 20px; */
}

.cart {
    margin: 10px 20px;
    box-shadow: 0px 0px 9px rgb(185, 184, 184);
    background-color: #ffffffe7;
    width: 300px;
    height: auto;
    /* border: 1px solid black; */
    padding: 15px;
    border-radius: 5px;

}

.cart h2 {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 3px 7px;
    text-align: center;

}

.cart h4 {
    text-transform: capitalize;
    margin: 10px;
    line-height: 20px;
    font-size: 18px;
}

.cart i {
    font-size: 18px;
    margin: 10px;
    text-transform: capitalize;
}


@media only screen and (max-width: 820px) {
    .title {
        padding: 10px;
    }
}